.flex-navlist {
  font-weight: bold;
  padding-bottom: 2rem;
  list-style: none;
  &li {
    list-style: none;
    padding: 0.5rem;
  }

  &li:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

.signedIn-navbar {
  display: flex;
  justify-content: space-evenly;
  &li:hover {
    cursor: pointer;
  }
}

.signInSignUp {
  display: inline-block;
  background-color: gold;
  color: black;
  border: none;
  border-radius: 8px;
}

@media screen and (max-width: 480px) {
  .flex-navlist {
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-starts;
    margin-top: 20px;
    margin: 0px;
    padding: 0px;
  }
}

.nav-container {
}
