* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
*a {
  color: none;
}

html {
  font-size: 62.5%;
}

body {
  background-color: black;
  color: white;
  padding: 10px;

  margin: 0;
  font-family: Helvetica, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
